# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Pytest
.pytest_cache/

# SQLite and test DBs
*.db

# Environment variables
.env

# Docker
*.pid
*.log
docker-compose.override.yml

# VSCode and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
